<style type="text/css">
@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);
</style>
<!DOCTYPE html>
<html>
<head>
	<title>Enter10ment: Log-In</title>
	<link rel="shortcut icon" type="image/png" href="faa8ef52-cc73-47f5-b5f6-6974e636736f_200x200.png">
	<link rel="stylesheet" type="text/css" href="login.css">
</head>
<body>
<div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>Enter<span>10Ment</span></div>
		</div>
		<br>
		<div class="login">
				<input type="text" placeholder="username" name="user" id="user"><br>
				<span id="demo">
				<input type="password" placeholder="password" name="password"><br>
				<a href="Enter10ment logout.html"><input type="button" value="Login" onclick="fun()">
</body>
</html>