<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" type="image/png" href="faa8ef52-cc73-47f5-b5f6-6974e636736f_200x200.png">
	<title>Enter10ment-SignUp</title>
	<link rel="stylesheet" type="text/css" href="main.css">
	<script type="text/javascript">

function formvalidate()
{
	var pass=document.form.password.value;
	var pass1=document.form.password2.value;
   
   if(pass == '')
   		alert("Please enter password");
   	else if(pass1 == '')
   		alert("Please enter confirm password");
    else if(pass!=pass1){
    	alert("Passwords didn't match!");
    	return false;
    	}
    else
    {
    	alert("Password Match: Welcome to Enter10ment!!");
    	return true;
    }
}

</script>
</head>
<body bgcolor="#000000 ">
		<center><a href="Enter10ment.html"><img src="faa8ef52-cc73-47f5-b5f6-6974e636736f_200x200.png" title="Our logo" ></a></center>
</h2>
<form action="Enter10ment logout.html" name="form" onsubmit="return formvalidate()" method="post">
	<div id="login-box">
		<div class="left-box">
			<h2><b>Sign Up</b></h2>
			<input type="text" name="name" placeholder="Name (Max 30 characters)" pattern="^[a-zA-Z ]{,30}$" required>
			<input type="text" name="email" placeholder="Email" pattern= "^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required="@">
			<input type="password" name="password" placeholder="Password" required>
			<input type="password" name="password2" placeholder="Retype password" required>
			<input type="submit" name="signup_button" placeholder="Sign Up" value="Sign Up">
			<center><p class="message"><b>Already Registered?</b> <a href="login.html"> Log In</a>
	</p></center>
	</div>
</form>
	<div class="right-box">
		<span class="signinwith">Sign in with<br/>Social Network</span>
		<a href="https://www.facebook.com/?stype=lo&jlou=AfcZRKg6rcHhPFI61aVv-e56svNGFQK7ufRbrKt5Ucki7GImTp1-olRWNkwzSrtayGnC7wzEkZjYxPj2ebNDcN7gxbc3luog2kGkOTZ2SIVuZg&smuh=18187&lh=Ac--Zi_e_Z1g-QK9"><button class="social facebook">Log in with Facebook</button></a>

		<a href="https://twitter.com/"><button class="social twitter">Log in with Twitter</button></a>

		<a href="https://www.instagram.com/accounts/login/"><button class="social instagram">Log in with Instagram</button></a>
	</div>
	<div class="or">OR</div>
</div>
</body>
</html>